<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Privilege</title>

    <!-- link bootstrap css -->
    <link href="resources/bootstrap-5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- link bootstrap js bundle -->
    <script src="resources/bootstrap-5.2.3/js/bootstrap.bundle.js" type="text/javascript"></script>
    <!-- link fontawesome css -->
    <link href="resources/fontawesome-6.4.2/css/all.css" rel="stylesheet">
    <!-- link an icon -->
    <link href="resources/images/icon.png" rel="icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- link custom css files -->
    <link href="resources/style/button.css" rel="stylesheet">
    <link href="resources/style/common.css" rel="stylesheet">
    <link href="resources/style/table-1.css" rel="stylesheet">
    <link href="resources/style/employee.css" rel="stylesheet">
</head>
<body>
<div class="card container m-2 w-100">
    <form id="frmPrivilege" onsubmit="return false;">


    </form>
</div>
<div class="card container m-2 w-100">
    <div class="row mt-2">
        <div class="col-12">
            <h1 class="custom-h1 text-center">Privilege Data Table</h1>
        </div>
    </div>
    <div class="row m-2">
        <table class="custom-table mt-2 table table-bordered" id="tblPrivilege">
            <thead>
            <tr>
                <th><i class="fa-solid fa-list-ol"></i></th>
                <th>Role</th>
                <th>Module</th>
                <th>Select</th>
                <th>Insert</th>
                <th>Update</th>
                <th>Delete</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="resources/Js/external-modalFunction.js"></script>
<script src="resources/Js/external-table.js"></script>
<script src="resources/Js/external-validator.js"></script>
<script src="resources/Js/external-commonFunction.js"></script>
<script src="resources/Js/Privilege.js"></script>
</body>
</html>