@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

body {
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card-login {
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 20px;
    padding: 15px;
}

.card-login img {
    width: 200px;
    aspect-ratio: 1/1;
    margin-bottom: 30px;


}

.card-login form {
    text-align: left;
}

.card-login form label {
    padding-left: calc(5% - 10px);
}

.card-login input[type='text'], input[type='password'] {
    margin-left: calc(5% - 10px);
    margin-top: 10px;
    width: 95%;
    background: #1c1c1c;
    padding: 10px;
    border: none;
    margin-bottom: 15px;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    outline: none;
}

.card-login input[type='submit'] {
    margin-top: 15px;
    margin-left: calc(5% - 10px);
    width: 95%;
    height: 40px;
    background: white;
    padding: 10px;
    border: none;
    font-family: Tahoma, sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    transition: scale ease-in-out 500ms;
    margin-bottom: 30px;

}
.card-login input[type='submit']:hover{
    cursor: pointer;
    color: white;
    transition: all ease-in-out 500ms;
    background: #FF1F1F;
}

.red-neon:hover{
    transition : all 0.5s ease-in-out;
    box-shadow:
            0 0 3px whitesmoke,
            0 0 10px #075ea6,
            0 0 21px #075ea6,
            0 0 42px #75bcf5,
            0 0 82px #75bcf5;
    cursor:pointer;
}